<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Fun Math Game for Kids') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('game.play') }}">{{ _('Play Game') }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Bye Bye') }}</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Come In') }}</a></li>
                    <li><a href="{{ url_for('auth.register') }}">{{ _('Join Us') }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 {{ _('Fun Math Game for Kids') }}</p>
    </footer>
</body>
</html>
